.Contact {

  padding: 0 2rem;

  .card {
    margin-top: 2rem;
    margin-left: 1rem;
  }

  .address {
    display:  flex;
  }

  .form {
    background: linear-gradient(to right, #6DC3AE, #42ACD0);
    padding: 2rem;

    .input {
      margin-top: 1rem;
    }

    button {
      margin-top: 1rem;
    }
  }
}