.Nav {
  display: flex;
  background-color: whitesmoke;
  justify-content: space-between;

  .left {
    color: rgb(52, 52, 180);
  }

  .right {
    padding-top: 0.75rem;
    display: flex;

    > div {
      padding-left: 1rem;
    }
  }
}